<!DOCTYPE html>
<html>
<head>
    <title>Projects Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

    <div class="container">
        <h1>Projects</h1>
        <p>This is the Projects page showcasing some of my work.</p>

        <div class="project">
            <h2>Snake Game</h2>
            <p>Snake Game is a cutting-edge game and a totally original idea I had that's never been made before. The player moves a snake around a board and the snake's body grows when it eats an apple. If the snake collides with the borders or itself it's game over. I think this will really shake up the gaming industry. (Jan 2023 - Jun 2023)</p>
        </div>

        <div class="project">
            <h2>Portfolio</h2>
            <p>This is a website I made which details my life's accomplishments. It's pretty much empty. (Jul 2022 - Present)</p>
        </div>

        <div class="project">
            <h2>This website</h2>
            <p>You're looking at it. (Jan 2024 - Jan 2024)</p>
        </div>
    </div>

</body>
</html>
